*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-y: auto;
}



.container{
    width: 800px;
    height: 600px;
    margin: auto;
    border: 1px solid #4b4a4a;
    padding: 20px;
    background-color: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;;

    position: relative;
    border-radius: 15px;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-color: black;
    scrollbar-width: 70px;
    color: rgb(0, 0, 0);
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}


h1{
    font-size: 50px;
    color: rgb(73, 73, 73);
    padding-left: 210px;
}

hr{
    position: relative;
    left: +200px;
    width: 300px;
}

.add{
    color: #68676794;
}

form{
    padding-top: 30px;
    font-size: 35px;
    padding-left: 85px;
}

.fill{
    height: 35px;
    position: relative;
    top: -5px;
    background: #5f5e5e;
    border-radius: 10px;
    padding: 0 15px 0 15px;
    box-shadow: 2px 2px 3px #0e0e0e, -1px -1px 9px rgb(95 94 94 / 25%), inset 0px 0px 5px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}


.stuff{
    padding-left: 50px;
    padding-top: 30px;
}

.stuff ul{
    padding-left: 50px;
    font-size: 20px;
}

.stuff ul li a i{
    position: relative;
    top: -25px;
    padding-left: 380px;
    color: red;
    display: grid;
}

.stuff ul li input{
    position: relative;
    left: -5px;
}

.stuff .one{
    position: relative;
    left: +70px;
    color: rgb(71, 71, 71);
    background-color: rgba(44, 44, 44, 0.411);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width: 500px;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}


.one ul{
    list-style: none; 
    padding-left: 20px;
    margin: 0;
   
}
.one ul li {
    position: relative;
    padding-left: 30px; 
}

.one ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 13px; 
    height: 13px; 
    background-image: url(To-Do-Img/images/unchecked.png);
    background-size: contain; 
    background-repeat: no-repeat;
}







.stuff .two{
    position: relative;
    left: +70px;
    width: 500px;
    color: rgb(71, 71, 71);
    background-color: rgba(44, 44, 44, 0.411);
    position: relative;
    top: +20px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

.two ul{
    list-style: none; 
    padding-left: 20px;
    margin: 0;
   
}
.two ul li {
    position: relative;
    padding-left: 30px; 
   
}

.on::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 13px; 
    height: 13px; 
    background-image: url(To-Do-Img/images/checked.png);
    background-size: contain; 
    background-repeat: no-repeat;
    /* display: none; */
}

/* .two ul li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 13px; 
  height: 13px; 
  background-image: url(To-Do-Img/images/unchecked.png);
  background-size: contain; 
  background-repeat: no-repeat;
  display: none; 
} */

.second::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 13px; 
  height: 13px; 
  background-image: url(To-Do-Img/images/unchecked.png);
  background-size: contain; 
  background-repeat: no-repeat;
  /* display: none; */
}


ul li span{
    font-size: 22px;
    color: rgb(110, 53, 53);
    position: relative;
    left: +950px;
    position: sticky;
}

ul li span:hover{
    color: red;
    cursor: pointer;
}


  


  .button {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;    

    position: relative;
    top: +100px;
    left: +320px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    background-color: #212121;
    width: 100px;
    height: 100px;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid #212121;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
      2px 2px 2px rgba(0, 0, 0, 0.1),
      -3px -3px 2px rgba(255, 255, 255, 0.05),
      -2px -2px 1px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    cursor: pointer;
  }
  
  .button .span {
    font-weight: bold;
    position: relative;
    z-index: 2;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button::before {
    content: "";
    position: absolute;
    background-color: #68676794;;
    width: 150%;
    height: 150%;
    left: 0%;
    bottom: 0%;
    transform: translate(-100%, 100%) rotate(45deg);
    border-radius: 15px;
  }
  
  .button:hover::before {
    animation: shakeBack 0.9s forwards 0.9s;
  }
  
  .button:hover .span {
    scale: 1;
    color: rgb(39, 38, 38);

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .button:hover {
    box-shadow: none;
  }
  
  .button:active {
    scale: 0.95;
  }
  
  @keyframes shakeBack {
    0% {
      transform: translate(-100%, 100%) rotate(45deg);
    }
  
    50% {
      transform: translate(15%, -15%) rotate(45deg);
    }
  
    100% {
      transform: translate(-10%, 10%) rotate(45deg);
    }
  }
  



  .one{
    display: none;
  }


#addNeed{
  display: none;
}
















